#container{
    width: 400px;
    height: 400px;
    margin: 40px;
    border: 2px solid blue;
    background-image: -webkit-linear-gradient(red, blue  40%);
    background: repeating-radial-gradient(red, blue);
    overflow: break-word;
}